################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_REPO/space-engineers/Timed Assembler/TimedAssembler.Tests/obj
/_REPO/space-engineers/Timed Assembler/TimedAssembler.Tests/bin/Debug
/_REPO/space-engineers/Timed Assembler/TimedAssembler/obj
/_REPO/space-engineers/Timed Assembler/TimedAssembler/bin
/_REPO/space-engineers/Timed Assembler/TimedAssembler/.vs/TimedAssembler
/FinCalc
/FinanceCalculator.zip
/FinanceCalculator
/Work/BSD
/Unity
/Premiere
/EmailTest
/EdvalQuestions
/ConnectionApp_Test
/ConnectionApp
/ASPTute_Vidly/.vs/ASPTute_Vidly
/.vs
/C#
/BusinessApp
/SpaceEngineers/SpaceEngineers
/SpaceEngineers/SafeZoneBlock_Scripts
/SpaceEngineers/packages
/SpaceEngineers/MyTorpedoBuilder
/SpaceEngineers/MyTargetingSystem
/SpaceEngineers/MySlidingDoor
/SpaceEngineers/MySecuritySystem
/SpaceEngineers/MyRefuelDrill
/SpaceEngineers/MyConveyorDetector
/SpaceEngineers/MyBARSDetector
/SpaceEngineers/MyAutoDetonator
/SpaceEngineers/ModReferences
/SpaceEngineers/ForceBeaconScript
/SpaceEngineers/Backups/Timed Assembler/TA_11-07-20_16-00
/SpaceEngineers/.vs/SpaceEngineers
/Web/React
/Web/Full Stack Hello World/FB React/BA C# .Net
/_REPO
/SpaceEngineers/TimedAssembler/TimedAssembler.csproj.user
/SpaceEngineers/ContestedZoneMod/obj
/SpaceEngineers/TimedAssembler/obj
/SpaceEngineers/TimedAssembler/bin/Debug/netstandard2.0
/SpaceEngineers/TimedAssembler.Tests/obj/Debug
/SpaceEngineers/TimedAssembler.Tests/bin/Debug
